*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image:url(background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

 nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
} 

.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(0, 166, 255);
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-link ul li:hover::after{
    width: 100%;

} 
.logo{
    width: 250px;
    height: 100px;
    position: absolute;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    z-index: 2;
}
img{
    width: 80px
}
.sidebar{
    width: 250PX;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
}
.text-box{
    transform: rotate(-90deg);
    position: absolute;
    top: 45%;
    text-align: center;
}
.text-box h1{
    font-size: 28px;
    font-weight: 100;
}
.text-box h4{
    margin: 7px 0 10px;
}
.line{
    width: 80px;
    height: 1px;
    margin: auto;
    background: black;
}
.content{
    color: white;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}
.content h1{
    font-size: 100px;
}
.content p{
    margin: 10px 0 40px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    padding: 10px 0 ;
    background: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
}
.btn img{
    width: 30px;
    margin-right: 15px;
}

#backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
@media (min-aspect-ratio: 16/9){
    #backVideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #backVideo{
        width: auto;
        height: 100%;
    }
}



